services:
  cargamento-service:
    build:
      context: .
      dockerfile: apps/api/cargamento-service/Dockerfile
    container_name: cargamento-service
    restart: always
    depends_on:
      - rabbitmq
      - influxdb
    environment:
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=mytoken
      - INFLUX_ORG=myorg
      - INFLUX_BUCKET=cargamentos
    networks:
      - cargamento-net

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP rabbit al cargamento-service
      - "15672:15672" # Management UI
      - "1883:1883"   # MQTT esp32 al rabbit
    volumes:
      - ./rabbitmq-enabled-plugins:/etc/rabbitmq/enabled_plugins
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    networks:
      - cargamento-net

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
      - DOCKER_INFLUXDB_INIT_ORG=myorg
      - DOCKER_INFLUXDB_INIT_BUCKET=cargamentos
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=mytoken
    networks:
      - cargamento-net

networks:
  cargamento-net:
    driver: bridge
